<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docusign.paysmart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.docusign.paysmart.PaySmartApplication"
        android:allowBackup="false"
        android:icon="@mipmap/invoice_pay"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity

            android:name="com.docusign.paysmart.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.docusign.paysmart.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.docusign.paysmart.activity.LoginActivity"
            android:label="@string/app_login" />
        android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.docusign.paysmart.activity.PayActivity"
            android:label="@string/app_pay" />
        <activity
            android:name="com.docusign.paysmart.activity.PayResultActivity"
            android:label="@string/app_pay_result" />

    </application>

</manifest>